[submodule "vendor/github.com/uber/uber-licence"]
	path = vendor/github.com/uber/uber-licence
	url = https://github.com/uber/uber-licence
[submodule ".ci"]
	path = .ci
	url = https://github.com/m3db/ci-scripts
